<!DOCTYPE html>
<html lang="en">
  {{> head}}
  <body>
    <header>
      <h1>SEN. {{senator.person.firstname}} {{senator.person.lastname}}</h1>
    </header>
    <div class="navigation">
      <a href="/">U.S. Senators</a>
      <a href="/add_senator">Add Senator</a>
    </div>
    <div class="profile">
      <div id="stats">
        <ul>
          <li>
            <span class="stats-label">Party: </span><span class="stats-content">{{senator.party}}</span>
          </li>
          <li>
            <span class="stats-label">Twitter ID: </span><a class="stats-link" href="https://twitter.com/{{senator.person.twitterid}}">{{senator.person.twitterid}}</a>
          </li>
          <li>
            <span class="stats-label">Gender: </span><span class="stats-content">{{senator.person.gender_label}}</span>
          </li>
          <li>
            <span class="stats-label">Start Date: </span><span class="stats-content">{{senator.startdate}}</span>
          </li>
          <li>
            <span class="stats-label">Leaving Office: </span><span class="stats-content">{{senator.enddate}}</span>
          </li>
        </ul>
      </div>
      <div id="story">
        <div id="story-content"> 
          <p>{{senator.person.firstname}} {{senator.person.lastname}} is the {{senator.description}}. Senator {{senator.person.lastname}} has served {{senator.congress_numbers.length}} terms. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non pharetra purus. Ut mollis sem tortor, sed rutrum turpis euismod sed. Etiam mollis odio leo. Morbi in euismod neque. Quisque eget nulla justo. Morbi id erat vitae lectus tempus ullamcorper at eu dui.</p>
        </div>
      </div>
    </div>
  </body>
</html>